*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
 color: white;
 /* background-color: #151515; */

 /* background-color: red; */
 /* overflow-x: hidden; */
}
@font-face {
    font-family: plain;
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family: silk;
    src: url(silkserif-regularitalic-webfont.ttf);
}
#cursor{
    height: 2.8vw;
    width: 2.8vw;
    background: transparent;
    border-radius: 50%;
    border: 1.5px solid white;
    /* background-color: red; */
    position: absolute;
    mix-blend-mode: difference;
    z-index: 999;
    transform: translate(-50%, -50%)
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 999;
    padding: 16vh 5.7vw;
    overflow-y: hidden;
}
.line{
    display: flex;
    justify-content: start;
    overflow-y: hidden;
    /* margin-bottom: ; */
    height: fit-content;
    gap: 2vw;
    /* background-color: red */
}

.line #line1-part1{
    gap: 1vw;    
    margin-right:2vw ;
    display: flex;
    justify-content: center;
    align-items: top;   
    margin-left: 5vw;
}
#line1-part1 h3,#line1-part1 h2{
    font-size:3vw;
    font-family: silk serif;
    font-weight: 500;
}
#line1-part1 h3{
    width: 5.5vw;
    text-align: right;
    /* background-color: red; */
}
.line h1
{   word-spacing: -.3vw;
    font-weight: 500;
    font-size: 7.25vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-family: Plain  ;
}
#bottomText{
    /* background-color: red; */
    position: absolute;
    bottom: 20%;
    left: 31%;
    transform: translate(-50%,-50%);
    width: 8vw;
    height: fit-content;
}
#bottomText h4{
    font-size: 1.07vw;
    font-weight: 500;
    /* background-color: red; */
    font-family: plain light;
}
#main{
    /* position: relative; */
    overflow-x: hidden;
    background-color:#030303 ;
    
}
#page1{
    height: 100vh;
    background-color: #151515;
    /* background-color: red; */
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    width: 100vw;
    padding: 4vw 5vw 2vw 5vw;
    /* background-color: rebeccapurple; */
    position: relative;
}
.brand__svg{
    position: absolute;
    top: 69%;
    left: 10.8%;
    transform: translate(-50%,-50%);
}
#nav #nav1{
    /* background-color: red; */
    width: 20%;
    height: 100%;
}
#nav #nav2{
    /* background-color: red; */
    display: flex;
    gap: 2.5vw;
    /* background-color: red; */
    /* height: 100%; */
    width: 20vw;
    height: 5vw;
    justify-content: end;
    align-items: center;
}
#nav2>h4{
    font-family: plain;
    font-size: 1.01vw;
    font-weight: 300;
}
.hero{
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}
.hero h4{
    /* background-color: red; */
    font-size: 7.4vw;
    width: 60%;
    word-spacing: -.5vw;
    text-transform: uppercase;
    line-height: 7.4vw;
    font-weight: 500;
    font-family: plain;
    margin-left: 27.5%;
    height: fit-content;
}

.hero:nth-child(1)
{
    margin-top: 10vw;
}

#hero3{
    /* background-color: red; */
margin-left: 27.5%;
}
.hero h2 {
    /* background-color: red; */
    font-weight: 500;
    font-family: plain;
    text-transform: uppercase;
    font-size: 7.4vw;
    line-height: 7.4vw;
    
    /* text-decoration: underline; */
    border-bottom: .5vw solid white;
    /* padding-bottom: .5vw; */
    transition: all ease 1;
}



.hero h3{
    line-height: 7.3vw;
    text-transform: uppercase;
    font-size: 7.6vw;
    font-family: plain;
    font-weight: 500;
}
#hero3 h2:hover{
    -webkit-text-stroke: .1vw white;
    font-weight: 400;
    color: transparent;
    border: none;
    border-bottom: .5vw solid rgba(255, 255, 255, 0.011);
    transition: all ease .3s;
    /* text-decoration: none; */
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: #151515 ;
    /* padding: 4vw 0 4vw 4vw; */
padding-top:8vw ;
    position: relative;
    /* display: flex; */
    /* justify-content: end; */
    /* align-items: center; */
overflow-x: hidden;
}
#vidContain{
    height: 70vh;
    width: 72%;
    left: 28%;
    position: relative;
    /* background: url("page2coverimage.jpg"); */
    /* background-color: blue; */
    /* overflow: hidden; */
}
#vidContain img{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 4;
    /* object-fit: cover; */
}
#vidContain video{
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
}
#vidCursor{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #FFA63D;
    position: absolute;
    top: -15%;
    right: 18%;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vidCursor i{
    font-size: 2.5vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #FFA63D;
}
#page4{
    width: 100%;
    background-color: #151515;
    
}
#aboutObys{
    /* height: 100vh; */
    width: 72vw;
    margin-left: 28%;
    background-color: #151515;
    /* overflow-x: hidden; */
    padding-top: 2vw;
}
#about h1{
    font-weight: 500;
    font-size: 7.3vw;
    text-transform: uppercase;
    font-family: plain;
    /* position: relative; */
}
#aboutObys::before{
    /* content: "03"; */
    /* position: absolute; */
    /* left: 10%; */
    /* top: 0%; */
    /* transform: translate(-50%.-50%); */
}
 .underline{
    margin-top: 5vw;
    margin-bottom: 3.5vw;
    height: .5px;
    width: 100%;
    background-color: white;
}
#aboutObys>p{
    width: 50%;
    font-family: plain light;
    font-weight: 500;
    font-size: 2.25vw;
}

/* #page4 #about h1:before{
    content: "03";
    font-family: silk;
    font-size: 3.3vw;
    position: absolute;
    top: 4.5%;
    left: -14%;
} */
 #image{
    display: flex;
    margin-top: 5vh;
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    object-fit: cover;
    gap: 2vw;
 }
 #image img{
    height: 98%;
    width: 50vw;
 }
 #para p{
    width: 50%;
    font-size: 1vw;
    font-family: plain light;
 }
 #para p:nth-child(2){
    margin-top: 2vw;
 }
 #blueDiv{
    /* position: absolute; */
    padding: 2vw 3.5vw 1vw 3.5vw;
    right: 20%;
    height: 85vh;
    width: 45.3%;
    background-color: #3F7DF4;
    position: relative;
    top: -32vh;
    right: -32%;
}
.blueDiv-elem{
     border-bottom: 1px solid white;
     /* padding-left: 2vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18%;
    /* margin-bottom: 1vw; */
    padding: 0vw 2vw 0vw 0vw;
 }
 .blueDiv-elem>h4{
    font-size: 1.6vw;
    font-family: plain light;
    font-weight: 550;
    padding-bottom: 1vw;
 }
 .blueDiv-elem>p{
    text-align: start;
    font-size: 1vw;
    font-family: plain light;
    font-weight: 500;
 }
 #aboutObys #underline2{
    margin-top: -10vh;
 }