*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
 color: white;
 /* background-color: red; */
 /* overflow-x: hidden; */
 cursor: hidden;
}
@font-face {
    font-family: plain;
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family: silk;
    src: url(silkserif-regularitalic-webfont.ttf);
}
#cursor{
    height: 2.8vw;
    width: 2.8vw;
    background: transparent;
    border-radius: 50%;
    border: 1.5px solid white;
    /* background-color: red; */
    position: absolute;
    mix-blend-mode: difference;
    z-index: 999;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 999;
    padding: 16vh 5.7vw;
}

.line{
    display: flex;
    justify-content: start;
    overflow-y: hidden;
    /* margin-bottom: ; */
    height: fit-content;
    gap: 2vw;
    /* background-color: red */
}

.line #line1-part1{
    gap: 1vw;    
    margin-right:2vw ;
    display: flex;
    justify-content: center;
    align-items: top;   
    margin-left: 5vw;
}
#line1-part1 h3,#line1-part1 h2{
    font-size:3vw;
    font-family: silk serif;
    font-weight: 500;
}
#line1-part1 h3{
    width: 5.5vw;
    text-align: right;
    /* background-color: red; */
}
.line h1
{   word-spacing: -.3vw;
    font-weight: 500;
    font-size: 7.25vw;
    line-height: 7.3vw;
    text-transform: uppercase;
    font-family: Plain  ;
}
#bottomText{
    /* background-color: red; */
    position: absolute;
    bottom: 20%;
    left: 31%;
    transform: translate(-50%,-50%);
    width: 8vw;
    height: fit-content;
}
#bottomText h4{
    font-size: 1.07vw;
    font-weight: 500;
    /* background-color: red; */
    font-family: plain light;
}
#main{
    position: relative;
    background-color:#030303 ;
}
#page1{
    height: 100vh;
    background-color: #151515;
    /* background-color: red; */
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    width: 100vw;
    padding: 4vw 5vw 2vw 5vw;
    /* background-color: rebeccapurple; */
    position: relative;
}
.brand__svg{
    position: absolute;
    top: 69%;
    left: 10.8%;
    transform: translate(-50%,-50%);
}
#nav #nav1{
    /* background-color: red; */
    width: 20%;
    height: 100%;
}
#nav #nav2{
    /* background-color: red; */
    display: flex;
    gap: 2.5vw;
    /* background-color: red; */
    /* height: 100%; */
    width: 20vw;
    height: 5vw;
    justify-content: end;
    align-items: center;
}
#nav2>h4{
    font-family: plain;
    font-size: 1.01vw;
    font-weight: 300;
}
.hero{
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}
.hero h4{
    /* background-color: red; */
    font-size: 7.4vw;
    width: 60%;
    word-spacing: -.5vw;
    text-transform: uppercase;
    line-height: 7.4vw;
    font-weight: 500;
    font-family: plain;
    margin-left: 27.5%;
    height: fit-content;
}

.hero:nth-child(1)
{
    margin-top: 10vw;
}

#hero3{
    /* background-color: red; */
margin-left: 27.5%;
}
.hero h2 {
    font-weight: 500;
    font-family: plain;
    text-transform: uppercase;
    font-size: 7.4vw;
    line-height: 7.4vw;
    
    /* text-decoration: underline; */
    border-bottom: .5vw solid white;
    /* padding-bottom: .5vw; */
    transition: all ease 1;
}



.hero h3{
    line-height: 7.3vw;
    text-transform: uppercase;
    font-size: 7.6vw;
    font-family: plain;
    font-weight: 500;
}
.hero h2:hover{
    -webkit-text-stroke: .1vw white;
    font-weight: 400;
    color: transparent;
    border: none;
    border-bottom: .5vw solid rgba(255, 255, 255, 0.011);

    /* transition: all ease 0.1; */
    /* text-decoration: none; */
}